@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

    background: #323232;
}

p{
    color: rgb(255, 245, 245);
    text-align: center;
    font-size: 16px;
}

.card{
	user-select: none;
	max-width: 300px;
	margin: 5rem auto;
	background: linear-gradient( #56637d 0%, rgba(17, 0, 32, 0.5) 100%);
	border-radius: 12px;
	overflow: hidden;
	transition: 0.5s all;
}

.card hr{
	width: 100%;
	border: none;
	border-bottom: 1px solid #8d8ebb55;
}

.card .main{
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 1rem;
}


.card .main .img{ /*IMAGE*/
	border-radius: 10px;
	max-width: 100%;
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.card .main .desc{
	margin: 2px;
	color: #bab7c3;
}


.card .main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card .main {
	display: flex;
	align-items: center;
	color: #9293be;
	font-weight: 700;
}

.card .main  ins{
	margin-left: -0.3rem;
	margin-right: 0.5rem;
}

.card .main .gatinho{
	display: flex;
	align-items: center;
	margin-top: 0.2rem;
	margin-bottom: -0.3rem;
}


  
.card .main .gatinho .eu{
	display: flex;
	align-items: center;
	padding: 0.3rem;
	margin: 0;
	margin-right: 0.5rem;
}


.card .main .gatinho .eu img{
	border-radius: 100%;
	border: 1px solid #ffffff22;
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	margin: 0;
}


.card ::before{
	position: fixed;
	top: -10%;
	left: -100%;
	transform: rotate(-45deg);
	height: 60rem;
	transition: 0.7s all;
}


.card:hover{
	box-shadow: 0 7px 50px 10px #474b809c;
	transform: scale(1.015);
	filter: brightness(1.4);
}


.animate__animated{
	animation: flash; 
	animation-duration: 2s;
}

.cardlist{
	display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    margin: 5rem auto;
	flex-direction: column;
    padding: 32px;
}